@import url(https://fonts.googleapis.com/css?family=Nunito);@charset "UTF-8";

* {
  -webkit-font-smoothing: antialiased;
  /*border: 1px solid red;*/
}

html {
  background: transparent;
  color: #2f2f2f;
  font-family: "Nunito", sans-serif;
}

body {
  background-color: transparent;
  font-size: 14px;
  /*line-height: 1.42857143;*/
  color: #333;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Nunito !important;
}

a:focus {
  color: inherit;
}

a:hover {
  color: inherit;
}

b,
strong {
  font-weight: 700;
}

table {
  text-align: left;
}

p,
table {
  font-size: 17px;
  font-family: inherit;
}

p {
  line-height: 22px;
  margin: 0px;
}

#top-sidebar {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 30px;
  line-height: 30px;
  z-index: 9;
  right: 32px;
  width: 100%;
  transition: left 0.2s ease-out, right 0.2s ease-out;
  background-color: #2a3f54;
}

#panel-left-sidebar #cmb-option-panel {
  display: none !important;
  box-sizing: border-box;
  height: 100%;
  position: fixed;
  width: 268px;
  background-color: #f0f3f3;
  box-shadow: 0 0 5px 0 rgba(25, 31, 40, 0.2);
  z-index: 10;
  top: 30px;
  left: 0px;
  display: flex;
  flex-direction: column;
  transition: left 0.2s ease-out, right 0.2s ease-out;
  overflow: auto;
}

#panel-left-sidebar #cmb-option-panel.active {
  display: block !important;
}

#panel-right-sidebar #right-sidebar {
  z-index: 10;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: auto;
  width: 32px;
  background-color: #fff;
  border-left: 1px solid #2a3f54;
}

#panel-right-sidebar #right-sidebar .right-sidebar-inner .option-links .option-links-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #e4e9ec;
  border-bottom: 1px solid #e4e9ec;
  margin: -1px 3px 0 3px;
  color: #879198;
  font-size: 18px;
  text-decoration: none;
  height: 46px;
}

#panel-right-sidebar #right-sidebar .right-sidebar-inner .option-links .option-links-item.cmb-logo-sidebar img {
  width: 100%;
}

#panel-right-sidebar #right-sidebar .right-sidebar-inner .option-links .option-links-item.active {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid #e4e9ec;
  border-left: 0;
  margin: -1px 0 0 -1px;
  background-color: #f0f3f3;
  width: 100%;
}

#widget-collection-list {
  display: none !important;
  box-sizing: border-box;
  height: 100%;
  position: fixed;
  width: 268px;
  background-color: #f0f3f3;
  box-shadow: 0 0 5px 0 rgba(25, 31, 40, 0.2);
  z-index: 10;
  top: 30px;
  right: 32px;
  display: flex;
  flex-direction: column;
  transition: left 0.2s ease-out, right 0.2s ease-out;
  overflow: auto;
}

#widget-collection-list.active {
  display: block !important;
}

#widget-collection-list .widget-collection-inner .widget-collection-wrapper {
  position: relative;
  height: 100%;
}

#widget-collection-list .widget-collection-inner .widget-collection-wrapper .widget-container .page-element-list-container {
  padding-bottom: 15px;
  display: none;
}

#widget-collection-list .widget-collection-inner .widget-collection-wrapper .widget-container .page-element-list-container.active {
  display: block !important;
}

#widget-collection-list .widget-collection-inner .widget-collection-wrapper .widget-container .page-element-list-container .cmb-row {
  margin-bottom: 30px;
  /* ---- SEARCH STYLE START ---- */
  /* ---- SEARCH STYLE END ---- */
  /* ---- ITEM STYLE START ---- */
}

#widget-collection-list .widget-collection-inner .widget-collection-wrapper .widget-container .page-element-list-container .cmb-row .cmb-search {
  padding: 7px;
}

#widget-collection-list .widget-collection-inner .widget-collection-wrapper .widget-container .page-element-list-container .cmb-row .cmb-search input {
  width: 100%;
  border-radius: 3px;
  font-size: 14px;
}

#widget-collection-list .widget-collection-inner .widget-collection-wrapper .widget-container .page-element-list-container .cmb-row .cmb-item .cmb-accordion-block {
  background-color: #ffffff;
}

#widget-collection-list .widget-collection-inner .widget-collection-wrapper .widget-container .page-element-list-container .cmb-row .cmb-item .cmb-accordion-block .accordion-header h6 {
  border-bottom: 1px solid #f1f1f1;
  padding: 14px;
  margin-bottom: 0px;
}

#widget-collection-list .widget-collection-inner .widget-collection-wrapper .widget-container .page-element-list-container .cmb-row .cmb-item .cmb-accordion-block .accordion-body {
  padding: 7px;
}

#widget-collection-list .widget-collection-inner .widget-collection-wrapper .widget-container .page-element-list-container .cmb-row .cmb-item .cmb-accordion-block .accordion-body .body-two-column-item-container {
  padding-bottom: 7px;
}

#widget-collection-list .widget-collection-inner .widget-collection-wrapper .widget-container .page-element-list-container .cmb-row .cmb-item .cmb-accordion-block .accordion-body .body-two-column-item-container .column-items {
  display: flex;
}

#widget-collection-list .widget-collection-inner .widget-collection-wrapper .widget-container .page-element-list-container .cmb-row .cmb-item .cmb-accordion-block .accordion-body .body-two-column-item-container .column-items .item-wrapper {
  width: 100%;
  max-width: 50%;
  box-sizing: border-box;
  cursor: move;
  position: relative;
  transition: all 0.2s ease-in-out;
  height: 82px;
  background-color: white;
  transition: all 0.25s;
  display: flex;
  flex-direction: column;
  color: #50565f;
  margin-right: 7px;
  padding-top: 7px;
}

#widget-collection-list .widget-collection-inner .widget-collection-wrapper .widget-container .page-element-list-container .cmb-row .cmb-item .cmb-accordion-block .accordion-body .body-two-column-item-container .column-items .item-wrapper:last-child {
  margin-right: 0px;
}

#widget-collection-list .widget-collection-inner .widget-collection-wrapper .widget-container .page-element-list-container .cmb-row .cmb-item .cmb-accordion-block .accordion-body .body-two-column-item-container .column-items .item-wrapper .item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid #f0f3f3;
  padding: 7px;
}

#widget-collection-list .widget-collection-inner .widget-collection-wrapper .widget-container .page-element-list-container .cmb-row .cmb-item .cmb-accordion-block .accordion-body .body-two-column-item-container .column-items .item-wrapper .item::before {
  content: "\F05A";
  font-family: "FontAwesome";
  position: absolute;
  top: 6px;
  right: 3px;
  opacity: 0.5;
  display: none;
}

#widget-collection-list .widget-collection-inner .widget-collection-wrapper .widget-container .page-element-list-container .cmb-row .cmb-item .cmb-accordion-block .accordion-body .body-two-column-item-container .column-items .item-wrapper .item .icon i {
  font-size: 18px;
}

#widget-collection-list .widget-collection-inner .widget-collection-wrapper .widget-container .page-element-list-container .cmb-row .cmb-item .cmb-accordion-block .accordion-body .body-two-column-item-container .column-items .item-wrapper .item .icon svg {
  height: 36px;
  width: 100%;
  fill: #d5dadf;
}

#widget-collection-list .widget-collection-inner .widget-collection-wrapper .widget-container .page-element-list-container .cmb-row .cmb-item .cmb-accordion-block .accordion-body .body-two-column-item-container .column-items .item-wrapper .item .icon svg:hover {
  fill: #4e5b67;
}

#widget-collection-list .widget-collection-inner .widget-collection-wrapper .widget-container .page-element-list-container .cmb-row .cmb-item .cmb-accordion-block .accordion-body .body-two-column-item-container .column-items .item-wrapper .item .title {
  padding-top: 7px;
  font-size: 12px;
  text-align: center;
  line-height: 16px;
}

#widget-collection-list .widget-collection-inner .widget-collection-wrapper .widget-container .page-element-list-container .cmb-row .cmb-item .cmb-accordion-block .accordion-body .body-two-column-item-container .column-items .item-wrapper .item .no-title {
  display: none;
}

#widget-collection-list .widget-collection-inner .widget-collection-wrapper .widget-container .page-element-list-container .cmb-row .cmb-item .cmb-accordion-block .accordion-body .body-two-column-item-container .column-items .item-wrapper .item .rows {
  transform: translate(10px, 8px);
}

#widget-collection-list .widget-collection-inner .widget-collection-wrapper .widget-container .page-element-list-container .cmb-row .cmb-item .cmb-accordion-block .accordion-body .body-two-column-item-container .column-items .item-wrapper .item .rows > div {
  flex-basis: 50%;
  max-width: 50%;
  padding-left: 0px !important;
  padding-right: 0px !important;
  text-align: center;
  border: 1px solid #5c6369;
}

#widget-collection-list .widget-collection-inner .widget-collection-wrapper .widget-container .page-element-list-container .cmb-row .cmb-item .cmb-accordion-block .accordion-body .body-two-column-item-container .column-items .item-wrapper .item .rows .desc {
  background-color: #fff;
  color: #5c6369;
  width: 100%;
  border-top: 2px solid #5c6369;
}

/*#cm-mode-switcher {
  position: absolute;
  right: 0;
  top: 50%;
  width: 15px;
  height: 50px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #e6e9ec;
  font-size: 15px;
  -webkit-box-shadow: 3px 1px 5px rgba(0,0,0,.1);
  box-shadow: 3px 1px 5px rgba(0,0,0,.1);
  cursor: pointer;
  z-index: 11;

  #cm-mode-switcher-preview {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
}
*/

#bottom-sidebar {
  position: fixed;
  box-sizing: border-box;
  padding: 1px;
  bottom: 0;
  width: 100%;
  right: 32px;
  height: 40px;
  background-color: #f0f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: left 0.2s ease-out, right 0.2s ease-out;
}

#middle-main-container {
  margin-right: 32px;
}

#middle-main-container .cw-100 {
  width: 100%;
}

#middle-main-container .cw-100 {
  width: 100%;
}

#middle-main-container .on-hover {
  outline: 2px solid #71d7f7;
  -webkit-animation: section-outline 0.75s;
  animation: section-outline 0.75s;
}

#middle-main-container .on-hover.cmb-sections {
  outline: 2px solid #2ECC71;
}

#middle-main-container .on-hover.cmb-row {
  outline: 2px solid #3498DB;
}

#middle-main-container .on-hover.cmb-element {
  outline: 2px solid #F39C12;
  outline-color: #F39C12;
}

#cmb-inner-actions .hover-cmb-sections .cmb-icons-right div {
  background: #2ECC71 !important;
}

#cmb-inner-actions .hover-cmb-row .cmb-icons-right div {
  background: #3498DB !important;
}

#cmb-inner-actions .hover-cmb-element .cmb-icons-right div {
  background: #F39C12 !important;
}

#cmb-inner-actions #edit-icons {
  color: #fff;
  position: absolute;
  top: -1000px;
  height: 0;
  z-index: 100001;
}

#cmb-inner-actions #edit-icons .cmb-icons-right {
  float: right;
  color: #000;
  display: flex;
}

#cmb-inner-actions #edit-icons .cmb-icons-right div {
  padding: 2px 7px;
  background: transparent;
}

#cmb-inner-actions #edit-icons-active {
  color: #fff;
  position: absolute;
  top: -1000px;
  height: 0;
  z-index: 100001;
}

#cmb-inner-actions #edit-icons-active .cmb-icons-right {
  float: right;
  color: #000;
  display: flex;
}

#cmb-inner-actions #edit-icons-active .cmb-icons-right div {
  padding: 2px 7px;
  background: green;
}

#cmb-inner-actions .cmb-controls div {
  cursor: pointer;
}

#cmb-inner-actions .cmb-controls div:hover {
  color: #ffffff;
}

.cmb-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}

.cmb-elem-default-pad {
  padding: 20px;
}

.cmb-container-box {
  position: relative;
}

[draggable] {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
      user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

#cm-builder {
  margin-top: 32px;
}

#cm-builder .cmb-btn-add-new {
  margin: auto;
  text-align: center;
  width: 80%;
  border: 2px dashed #969fa6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  outline: 0;
  z-index: 1;
}

#cm-builder .cmb-add-new-section {
  padding: 20px 0;
  margin: 20px 0;
}

#cm-builder .cm-builder-inner .cm-section-wrapper {
  min-height: 100%;
  border: 1px solid #0f0;
}

.box-drag {
  width: 100px;
  height: 100px;
  border: 1px solid #F1F1F1;
}

.drag-over {
  border: 2px dashed #000 !important;
}

.dragging {
  opacity: 0.8;
}

.cmb-sortable-placeholder {
  width: 100%;
  min-height: 50px;
}

.cmb-sortable-placeholder.placeholder-before {
  border: 1px solid lightgreen;
}

.cmb-sortable-placeholder.placeholder-after {
  border: 1px solid lightblue;
}

.cmb-widget-container-box {
  padding: 20px 0;
}

.cmb-sortable-placeholder {
  padding: 20px 0;
}

.on_hover {
  outline: 1px solid #1da5e5;
}

