.cmb-widget-container {
  // padding-top: .5rem;
}

.cmb-wrapper {

  margin-top: 20px;
  margin-bottom: 20px;
}

.cmb-elem-default-pad {

  padding: 20px;
}

.cmb-container-box {

  position: relative;
}